html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.main {
  width: 100%;
  overflow: hidden;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0rem;
}

.button {
  background-color: #0f172a;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .button {
    flex-direction: row;
    padding: 1.5rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 800px;
}

@media screen and (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }
}

.a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0070f3;
}

.description,
.title {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

/* CurrencyCard */
.card {
  margin: 0.5rem;
  padding: 1.5rem;
  text-align: left;
  color: #0f172a;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  transition: all 0.15s ease;
  max-width: 300px;
}

@media screen and (min-width: 600px) {
  .card {
    margin: 1rem;
  }
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 1rem;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* Toggle */
.toggle {
  margin-right: 8px;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:checked {
  background-color: #4cd964;
}

.toggle:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  transition: all ease 0.3s;
}

.toggle:checked:before {
  left: 32px;
}
